<div class="elementsCard">
    <h1 mat-dialog-title>Iniciar sesión</h1>
    <div mat-dialog-content class="dialog-content">
        <form [formGroup]="form" class="loginForm" (ngSubmit)="onSubmit()">
            <div class="inputsLogin">
                <img src="../../../assets/images/user.png">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Numero de documento</mat-label>
                    <input matInput placeholder="Ingresar numero de documento" formControlName="identificationNumber">
                </mat-form-field>
                <div class="alert-danger"
                    *ngIf="form.get('identificationNumber')?.errors && (form.get('identificationNumber')?.dirty || form.get('identificationNumber')?.touched)">
                    <div class="container-error-message" *ngIf="form.get('identificationNumber')?.hasError('required')">
                        El campo documento es requerido
                    </div>
                    <div class="container-error-message" *ngIf="form.get('identificationNumber')?.hasError('min')">
                        El campo documento debe contener mínimo 8 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="form.get('identificationNumber')?.hasError('max')">
                        El campo documento debe contener máximo 10 caracteres
                    </div>
                </div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingresar contraseña"
                        formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="alert-danger"
                    *ngIf="form.get('password')?.errors && (form.get('password')?.dirty || form.get('password')?.touched)">
                    <div class="container-error-message" *ngIf="form.get('password')?.hasError('required')">
                        El campo contraseña es requerido
                    </div>
                    <div class="container-error-message" *ngIf="form.get('password')?.hasError('minlength')">
                        El campo contraseña debe contener mínimo 8 caracteres
                    </div>
                    <div class="container-error-message" *ngIf="form.get('password')?.hasError('maxlength')">
                        El campo contraseña debe contener máximo 15 caracteres
                    </div>
                </div>
            </div>

            <div>
                <div class="buttonsLogin">
                    <div class="buttonEnter">
                        <button *ngIf="!spinner" class="btnEnterLogin btn" mat-stroked-button
                            type="submit">Ingresar</button>
                        <button *ngIf="spinner" class="btn" mat-stroked-button>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </button>
                    </div>
                    <div class="buttonCancel">
                        <button class="btnEnterRegister btn" type="button" mat-stroked-button
                            (click)="showRegister()">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div mat-dialog-actions>
</div> -->