<section class="content">
    <mat-card class="upgradeCard">
        <div class="elementsCard">
            <div class="containerRegisterTitle">
                <h1>Información personal</h1>
            </div>
            <form [formGroup]="form" class="upgradeForm" (ngSubmit)="onSubmit()">
                <div class="inputsUpgrade">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Cedula</mat-label>
                        <input matInput placeholder="Ingresar cedula" type="number"
                            formControlName="identificationNumber" [formControl]="inputFormControlCedula">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput placeholder="Ingresar nombre completo" type="text" formControlName="fullName"
                            [formControl]="inputFormControl">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ingresar email" type="email" formControlName="email"
                            [formControl]="inputFormControl">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Ciudad</mat-label>
                        <mat-select  formControlName="cityCode">
                            <mat-option *ngFor="let city of cities" [value]="city.code" [disabled]="updade">
                                {{city.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttonsEdit">
                    <button *ngIf="!edit" class="btn" mat-stroked-button (click)="onEnable()">Editar</button>
                </div>
                <div class="buttonsUpdate">
                    <div class="buttonUpdate" *ngIf="edit">
                        <button *ngIf="!spinner" class="btn" mat-stroked-button type="submit">Actualizar</button>
                        <button *ngIf="spinner" class="btn" mat-stroked-button type="submit">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only"> Actualizando...</span>
                        </button>
                    </div>
                    <div class="buttonCancel" *ngIf="edit">
                        <button class="btn" mat-stroked-button (click)=cancel()>Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</section>